.store {
    display: grid;
    grid-template-rows: min-content 1fr;
    background-color: var(--header-background);
    height: 100%;
    padding: 2rem;
}

h1 {
    color: var(--dark-accent-color);
}

.item-field {
    display: flex;
    gap: 2rem;
    background-color: var(--header-background);
}